body {
	background: #404040;	
	margin-top: 0;
	margin-left: 0;
}


a {
	text-decoration: none;
	border: 0;								
}

.global img {
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;

	width: 50px; 
	height: 50px;
	position:absolute;
}



/*	SOCIAL	*/

	.social img { 
		top: 25px;
	}


		.facebook {
			left: 25px;
		}

		.twitter {
			left: 100px;
			
		}

		.googleplus {
			left: 175px;
		}

		.tumblr {
			left: 250px;
		}

		.youtube {
			left: 325px;
		}

/* 	GRAPHIC	*/

	.graphic img { 
		top: 100px;
	}


		.deviantart {
			left: 25px;
		}

		.kuler {
			left: 100px;
		}

 /*	CLOUD	*/

	.cloud img { 
			top: 175px;
	}


		.dropbox {
			left: 25px;
		}

		.box {
			left: 100px;
		}

		.onedrive {
			left: 175px;
		}

		.googledrive {
			left: 250px;
		}

		.mega {
			left: 325px;
		}

/*	NEWS	*/

	.news img { 		
		top: 250px;
	}


		.feedly {
			left: 25px;
		}

		.pocket {
			left: 100px;
		}

/*	STORE	*/

	.store img { 
		top: 325px;
	}


		.amazon {
			left: 25px;
		}

		.ebay {
			left: 100px;
		}

		.steam {
			left: 175px;
		}

/*	FORUM	*/

	.forum img { 
		top: 400px;
	}


		.arch {
			left: 25px;
		}

/*	FUN		*/

	.fun img { 
		top: 475px;
	}
	

		.ninegag {
			left: 25px;
		}