body {
	background: #404040;	
	margin-top: 0;
	margin-left: 0;
}


a {
	text-decoration: none;
	border: 0;								
}


.icons img {
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;

	width: 50px; 
	height: 50px;
	position:absolute;
}



/*	COLUM	*/

	.social img { 
		top: 25px;
	}

	.cloud img { 
		top: 100px;
	}

	.graphic img { 
		top: 175px;
	}

	.multimedia img { 
		top: 250px;
	}

	.news img { 		
		top: 325px;
	}

	.store img { 
		top: 400px;
	}

	.forum img { 
		top: 475px;
	}

	.fun img { 
		top: 550px;
	}

	.developer img { 
		top: 625px;
	}

/*	ROW */

	.facebook, .dropbox, .deviantart, .youtube, .feedly, .amazon, .arch, .ninegag, .github {
		left: 25px;
	}


	.twitter, .box, .kuler, .soundcloud, .pocket, .ebay {
		left: 100px;
			
	}


	.googleplus, .onedrive, .steam, .evernote {
		left: 175px;
	}


	.tumblr, .googledrive {
		left: 250px;
	}


	.mega {
		left: 325px;
	}